extends ../layout

block content 
    a(href='/bicicleta') Volver

    br
    br
    br

    h1 Bicicleta

    br
    br

    form(action=`/bicicleta/${bici.id}/view` method='post')
        #map
        label(for='id') ID: #{bici.id}
        br
        lable(for='color') Color: #{bici.color}
        br
        label(for='modelo') Modelo: #{bici.modelo}
        br
        label(for='lat') Ubicacion: #{bici.ubicacion}
        br
        input.btn(type='submit' value='OK')
        script(src='/javascripts/map_one.js')
        